
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>
    Transparencia
</h3>

<div class="container">
    <div class="row">
        <br />
    </div>
    <center>
        <h3>
            Consulta de Informacion de Transparencia
        </h3>
    </center>

    <div class="panel-group">
        <div class="panel panel-default">




            <a class="btn btn-secondary btn-lg btn-block" href="@Url.Action("SujetoObligado","Home")">Consulta de Sujetos Obligados</a>
            <a class="btn btn-secondary btn-lg btn-block" href="@Url.Action("Documentos","Home")">Documentación de Transparencia</a>
            <a class="btn btn-secondary btn-lg btn-block" href="@Url.Action("Indicadores","Home")">Indicadores de Transparencia</a>

        </div>

    </div>
</div>
<div class="row">
    <br />
</div>