
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row">
        <br />
    </div>
    <center>
        <h3>
            Consulta de Informacion de Transparencia
        </h3>
    </center>

    <div class="panel-group">
        <div class="panel panel-default">



           <button type="button"  class="btn btn-secondary btn-lg btn-block">Consulta Sujeto Obligado </button>
            <button type="button" class="btn btn-secondary btn-lg btn-block">Documentación de Transparencia</button>

        </div>

    </div>
</div>
<div class="row">
    <br />
</div>