
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CSO</h2>


<h3>
    Consulta Sujeto Obligado
</h3>
<div class="tab-pane" id="details">
    <div class="row">
        <p class="lead">
            <span class="text-success">
                *Los Campos identificados con (*) son obligatorios
            </span>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label">
                    Municipio *:
                </label>

            </div>
        </div>

        <div class="col-sm-8">
            <div class="form-group label-floating">
                <select name="MU">
                    <option selected value="0"> Seleccione</option>
                    <option value="1">Atlixco</option>
                    <option value="2">Chignahuapan</option>
                    <option value="3">Huejotzingo</option>
                    <option value="3">Ixtacamaxtitlán</option>
                    <option value="3">Ocotepec</option>
                    <option value="3">Zacatlán</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label">
                    Tipo de Sujeto Obligado *:
                </label>

            </div>
        </div>

        <div class="col-sm-8">
            <div class="form-group label-floating">
                <select name="MU">
                    <option selected value="0">Seleccione</option>
                    <option value="1">Ayuntamientos</option>
                    <option value="2">Descentralizados</option>
                    <option value="3">Entidades Paramunicipales</option>
                    <option value="3">Organismos Autónomos</option>
                    <option value="3">Partidos Políticos</option>
                    <option value="3">Personas Morales  </option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label">
                    Sujetos Obligados *:
                </label>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group label-floating">
                <select name="MU">
                    <option selected value="0">Seleccione</option>
                    <option value="1">Sujeto 1</option>
                    <option value="2">Sujeto 2</option>
                    <option value="3">Sujeto 3</option>
                    <option value="3">Sujeto 4</option>
                    <option value="3">Sujeto 5</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label">
                    Ley *:
                </label>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group label-floating">
                <select name="MU">
                    <option selected value="0">Seleccione</option>
                    <option value="1">Ley Federal de Transparencia y Acceso a la Información Pública</option>
                    <option value="2">Ley Orgánica de la Administración Pública Federal</option>
                    <option value="3">Ley de Adquisiciones, Arrendamientos y Servicios del Sector Público</option>
                    <option value="3">Presupuesto de Egresos de la Federación para el Ejercicio Fiscal</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label">
                    Artículo*:
                </label>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group label-floating">
                <select name="MU">
                    <option selected value="0">Seleccione</option>
                    <option value="1">Artículo 1</option>
                    <option value="2">Artículo 2</option>
                    <option value="3">Artículo 3</option>
                    <option value="3">Artículo 4</option>
                    <option value="3">Artículo 5</option>
                </select>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label">
                    Formato*:
                </label>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group label-floating">
                <select name="MU">
                    <option selected value="0">Seleccione</option>
                    <option value="1">Formato 1</option>
                    <option value="2">Formato 2</option>
                    <option value="3">Formato 3</option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <center>
            <button type="button" class="btn btn-success">Consultar</button>
            <button type="button" class="btn btn-danger">Salir</button>
        </center></div>


    <br>
    <br>

</div>



