@{
    ViewBag.Title = "Home Page";
}


<!-- Content section -->
<section class="py-5">
    <div class="container">

        <h1>Pueblo Mágico</h1>
        @*<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
        <center><p>Cuetzalan es una localidad enclavada en las estribaciones de la Sierra Norte de Puebla. Es cabecera municipal de Cuetzalan del Progreso, uno de los 217 municipios del estado de Puebla. Se encuentra a 183 kilómetros desde Puebla de Zaragoza, la capital poblana.Una de las características principales de la ciudad es que sus calles tienen grandes y marcadas pendientes. Fue incorporado al sistema turístico de Pueblos Mágicos en el 2002. Su valor radica en el desarrollo de la vida indígena con gran número de habitantes que conservan su forma de vida, como el desarrollo de la radio indigenista para la zona, o el valor antropológico del extenso mercado que se levanta los domingos. Perteneció al totonacapan fundado en el año 200 a.c por los totonacos lo que se demuestra en la zona arqueológica que existe en la localidad de Yohualichan correspondiente al municipio de Cuetzalan.</p></center>
    </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section>
    <center><img src="~/Content/Image/cuetzalan 6.jpg" width="1300" height="400" /><center />
</section>





<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Historia</h1>
        @*<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
        <center><p>En 1522 fue sometido por los españoles y evangelizado por los frailes franciscanos. En 1547 fue considerado como centro de actividades sociales, económicas y comerciales muy importantes, por lo que se le da el nombre de San Francisco Cuetzalan. Su territorio perteneció al antiguo Distrito de Zacapoaxtla y en 1895 se estableció como municipio libre (por decreto del supremo gobierno) con cabecera en la villa de Cuetzalan del progreso. Archivo Histórico Municipal pag. 255 Fue denominada como Ciudad de Cuetzalán el 4 de octubre de 1986. El municipio de Cuetzalan del progreso se localiza en la parte noreste del Estado de Puebla, sus coordenadas geográficas son los paralelos 19º 57’ 00” y 20º 05’ 18” de latitud norte y los meridianos 97º 24’ 36” y 97º 34’ 54” de longitud occidental; tiene una superficie de 735 km², que lo ubica en 16º lugar con respecto a los demás Municipios del Estado. Limita al norte con el Municipio de Jonotla, al Sur con el Municipio de Tlatlauquitepec, al este con el Municipio de Ayotoxco de Guerrero, al poniente con el Municipio de Zoquiapan, al Noroeste con el Municipio de Tenampulco, al suroeste con los Municipios de Zacapoaxtla y Nauzontla.</p></center>
    </div>
</section>